{{ define "main" }}
<div class="site-wrap">
  <div class="prose">
    {{ if .Data.Singular }}
    <h3 style="margin-bottom:0">Filtering for "{{ .Title }}"</h3>
    <small><a href="{{ "blog" | relURL }}">Remove filter</a></small>
    {{ else }}
    <h1>{{ .Title }}</h1>
    {{ with .Content }}{{ . }}{{ end }}
    {{ end }}
  </div>

  <ul class="blog-posts">
    {{ range .Pages }}
    <li>
      <div class="feed-date">{{ .Date.Format "02 Jan" }}</div>
      <h2 class="feed-title"><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
      <div class="feed-right">
        {{ if .Params.featured }}<span class="feed-star"><svg width="16" height="16" viewBox="0 0 32 32" fill="currentColor"><path d="M16 23.027L24.24 28l-2.187-9.373 7.28-6.307-9.587-.827-3.747-8.827-3.747 8.827-9.587.827 7.267 6.307L7.759 28l8.24-4.973z"></path></svg></span>{{ end }}
        <span>{{ .ReadingTime }} min read</span>
      </div>
    </li>
    {{ else }}
    <li>No posts yet</li>
    {{ end }}
  </ul>

  {{ if not .Data.Singular }}
  {{ with .Site.Taxonomies.tags }}
  <p class="post-tags" style="margin-top:2em">
    {{ range . }}<a href="{{ .Page.Permalink }}">#{{ .Page.Title }}</a> {{ end }}
  </p>
  {{ end }}
  {{ end }}
</div>
{{ end }}
